<div class="form-control">
	<div class="select-outer" [class.open]="opened" [class.label-top]="hasDisplay()" (clickOutside)="close()">
		<label>{{label}}</label>
		<div tabindex="0" class="display" [class.has-focus]="focused" (click)="toggle()" (focus)="onFocus(true)" (blur)="onFocus(false)" (keydown)="onKeyPress($event)">
			<span>{{display}}</span>
		</div>
		<div class="options">
			<ng-content select="tekkl-select-option"></ng-content>
		</div>
	</div>
	<ng-content select="tekkl-field-error"></ng-content>
</div>
