{% extends "@TekklApp/Email/layout.html" %}

{% block subject %}
	{{ appName }}: Passwort ändern
{% endblock %}

{% block content %}
	<p>Hallo,</p>

	<p>du hast uns gebeten, Dein Passwort zurückzusetzen. Um den Prozess abzuschließen, klicke auf den folgenden Link und wähle dann ein neues Passwort.</p>

	<p><a href="{{ confirmationLink}}">{{ confirmationLink }}</a></p>

	<p>Danach wirst Du Dich mit deinem Benutzernamen bzw. Deiner Email-Adresse und dem neuen Passwort auf der Seite anmelden können.</p>
	
	<p>Benutzername: {{ username }}<br />
	Email: {{ email }}</p>

	<p>Falls Du Dein Passwort nicht zurücksetzen möchtest, kannst Du diese Email einfach ignorieren. Dein Passwort bleibt das alte.</p>

	<p>Mit freundlichen Grüßen<br />
	Dein Team von {{ appName }}</p>
{% endblock %}