<div class="notification-container">
	<ng-container *ngFor="let notification of notificationService.getNotifications()">
		<tekkl-vertical-slide [open]="notification.isActive().toString()">
			<div class="notification {{notification.getType()}}">
				<div class="row column">
					<div class="message" [innerHTML]="notification.getMessage()"></div>
					<div class="controls" *ngIf="notification.getSubmitText() || notification.getCancelText()">
						<button class="button submit" *ngIf="notification.getSubmitText()" (click)="notification.submit()">{{notification.getSubmitText()}}</button>
						<button class="button cancel" *ngIf="notification.getCancelText()" (click)="notification.cancel()">{{notification.getCancelText()}}</button>
					</div>
				</div>
				<div class="close" (click)="notification.cancel()" *ngIf="notification.allowClose()"></div>
			</div>
		</tekkl-vertical-slide>
	</ng-container>
</div>