<tekkl-page-title i18n="Page Title: Homepage">Welcome to TEKKL - Home</tekkl-page-title>
<div class="acker-container">
	<div class="row">
		<div class="columns large-6 hide-for-tablet-down">
			<tekkl-acker>
				<tekkl-veggi 
					class="element element-1"
					type="karotte-happy"
					state="bottom"
					position=1
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Ich hab nicht's zu beklagen!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-2"
					type="karotte-happy"
					position=2
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo Gartenfreund. <br />
							Klicke auf die meine Gemüsekollegen, um zu erfahren, wie es Ihnen geht.
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-3"
					type="karotte-sad"
					state="bottom"
					position=3
				>
					<tekkl-dialog>
						<div class="dialog-container sunny hot">
							Waaaaaarum gießt mich keiner?!?! 
							Weißt Du wie lange es nicht mehr geregnet hat?
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-4"
					type="radischen-happy"
					position=4
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo! Weißt Du, wo mein Bruder gepflanzt wurde?
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-5"
					type="radischen-happy"
					state="bottom"
					position=5
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo!! Ich bin Rudi!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-6"
					type="karotte-sad"
					position=6
				>
					<tekkl-dialog>
						<div class="dialog-container sunny hot">
							Mir ist so heiß! <br />
							Du musst mich gießen!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-7"
					type="karotte-happy"
					state="bottom"
					position=7
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Mir geht's super!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-8"
					type="karotte-happy"
					state="bottom"
					position=8
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Warum bin ich so fröhlich, so fröhlich, so fröhlich? So ausgesprochen fröhlich...
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
			</tekkl-acker>
		</div>
		<div class="columns large-6">
			<tekkl-acker>
				<tekkl-veggi 
					class="element element-1"
					type="karotte-happy"
					state="bottom"
					position=1
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Ich hab nicht's zu beklagen!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-2"
					type="karotte-happy"
					position=2
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo Gartenfreund. <br />
							Klicke auf die meine Gemüsekollegen, um zu erfahren, wie es Ihnen geht.
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-3"
					type="karotte-sad"
					state="bottom"
					position=3
				>
					<tekkl-dialog>
						<div class="dialog-container sunny hot">
							Waaaaaarum gießt mich keiner?!?! 
							Weißt Du wie lange es nicht mehr geregnet hat?
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-4"
					type="radischen-happy"
					position=4
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo! Weißt Du, wo mein Bruder gepflanzt wurde?
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-5"
					type="radischen-happy"
					state="bottom"
					position=5
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Hallo!! Ich bin Rudi!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-6"
					type="karotte-sad"
					position=6
				>
					<tekkl-dialog>
						<div class="dialog-container sunny hot">
							Mir ist so heiß! <br />
							Du musst mich gießen!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-7"
					type="karotte-happy"
					state="bottom"
					position=7
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Mir geht's super!
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
				<tekkl-veggi 
					class="element element-8"
					type="karotte-happy"
					state="bottom"
					position=8
				>
					<tekkl-dialog>
						<div class="dialog-container">
							Warum bin ich so fröhlich, so fröhlich, so fröhlich? So ausgesprochen fröhlich...
						</div>
					</tekkl-dialog>
				</tekkl-veggi>
			</tekkl-acker>
		</div>
	</div>
</div>

